* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: #111111;
    color: #eeeeee;
}

#workspaces button {
    min-width: 20px;
    min-height: 20px;
    padding: 0;
    color: #bbbbbb;
    background: transparent;
}

#workspaces button.active {
    color: #ffffff;
    background: #285577;
}

#workspaces button.urgent {
    color: #ffffff;
    background: #900000;
}

#custom-sleep_delay,
#network,
#custom-vpn,
#disk.root,
#disk.shared,
#cpu,
#memory,
#pulseaudio,
#battery,
#clock,
#tray {
    padding: 0 5px;
}

#custom-sleep_delay {
    color: #a3be8c;
}

#memory.warning {
    color: #ffd75f;
}

#memory.critical,
#battery.critical:not(.charging) {
    color: #ff5f5f;
}
