[user]
	email = linus.witte@proton.me
	name = Linus Witte
[core]
	editor = nvim
  pager = delta
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      

[merge]
    conflictstyle = zdiff3
[rebase]
	autoSquash = true
	autoStash = true
